section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    max-width: 1280px;
    margin: auto;
}

   body {
          background-color: #494949;
          background-image:
            repeating-linear-gradient(
              to right, transparent 0 100px,
              #25283b22 100px 101px
            ),
            repeating-linear-gradient(
              to bottom, transparent 0 100px,
              #25283b22 100px 101px
            );
        }



.profDiv{
    padding-right: 200px;
    padding-top: 400px;
    position: relative;
}


.profile{
    width: 200px;
    position: absolute;
    top: 180px;
    left: 20px;
    border-radius: 30px;
}


.animated-text{
  animation: color-animation 3s linear infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-image: linear-gradient(-225deg, #df9393a1 30%,rgb(88, 155, 155) 60%,#8400ffa1 80%, #df9393a1 30%);
  border-radius: 0; 
  width: 15rem;          
  height: 20rem;         
  position: relative;    
              
  z-index: -1;           
  filter: blur(24px);    
  opacity: 0.6;          

}

@keyframes color-animation {
  40%,to {
      background-position: -200%
  }

}




@media (max-width: 640px) { 
  .animated-text {
    top: -15rem;         
    left: 0;             
  }

   .profDiv{
    padding-left: 30px;
    padding-top: 350px;
}

.profile{
    top: 120px;
    left: 50px;
}
}

@media (min-width: 640px) and (max-width: 767px) { 
  .animated-text {
    top: 5.5rem;         
    left: 0;             
  }

}