@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: 40%;
    transform-style: preserve-3d;
    animation: autoRun 40s linear infinite;
    z-index: 2;
    
}



@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px);
}

.banner .slider .item img {
    width: 150px;
    height: 200px;
    object-fit: cover;
   
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
   
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 15em;
    line-height: 1em;
    color: #25283B;
    position: relative;
    left: 0%;
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}


.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url(https://i.ibb.co/5gf4ydjq/model-1.png);
    width: 100%;
    height: 90%;
    position: absolute;
    left: -10% ;
    bottom: 0px;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

      .banner .content .model {
    z-index: 10;
    background-size: auto 130%;
    height:70vh;
    background-position: 50% 50%;
    }

    .banner .content h1 {

        bottom: 15rem;
        left: 10%;
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .content h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 767px) {
    
    .banner{
        height: 350px;
    }
    .banner .content .model {
    z-index: 10;
    background-size: auto 180%;
    height: 50vh;
    background-position: 50% 30%;
    }

    .banner .slider .item img {
    height: 80px;
    width: 70px;
}

    .banner .slider {
        width: 50px;
        height: 150px;
        left: calc(45%);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .banner .content h1 {
        font-size: 4rem;
        text-align: center;
        top: 0;
        left: 5%;
        
    }
    .banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    color: #25283B
}
}